.app-content {
  margin-top: 60px;
  padding: 12px 10rem;
  top: 60px;
  display: flex;
  flex-direction: row;
  height: 100%;

  .content-products {
    flex: 1;
    margin-right: 8px;
  }

  .content-cart {
    width: 330px;
    flex-direction: column;
  }
}

@media(max-width: 1024px) {
  .app-content {
    padding: 12px 5rem;
  }
}
